.inputSearch {
  border-style: solid 1px rgba(255, 255, 255, 0.589);
  background-color: rgba(255, 255, 255, 0.322);
  border: none;
  outline: none;
  padding: 2px;
}

.input-group {
  text-align: center;
}

.btnSearch {
  background-color: rgb(233, 152, 32);
  color: black;
}

.cardline {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(213, 235, 134);
  width: 30em;
  height: 15em;
  text-align: center;
}

.cardbar {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(166, 216, 191);
  width: 30em;
  height: 20em;
  text-align: center;
}
.carduv {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(233, 202, 230);
  width: 15em;
  height: 15em;
  text-align: center;
}
.cardwind {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(228, 161, 122);
  width: 15em;
  height: 15em;
  text-align: center;
}

.cardhum {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(235, 118, 219);
  width: 18em;
  height: 14em;
  text-align: center;
}

.cardvis {
  box-shadow: 0 0 20px #ccc;
  background-color: rgb(238, 217, 209);
  width: 30em;
  height: 5em;
  text-align: center;
}

.side {
  display: flex;
  flex-direction: row;
}
