.inputSearch {
  border-style: solid 1px rgba(255, 255, 255, 0.589);
  /* background-color: rgba(255, 255, 255, 0.322); */
  padding: 2px;
}

.btnSearch {
  background-color: rgb(29, 144, 245);
  color: white;
  font-weight: lighter;
}
.btnSearch:hover {
  font-weight: lighter;
  color: rgb(41, 50, 53);
}

.cardline {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 25em;
  height: 15em;
  text-align: center;
  border-radius: 7px;
}

.cardbar {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 25em;
  height: 15em;
  text-align: center;
}
.carduv {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 15em;
  height: 15em;
  text-align: center;
}
.cardwind {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 15em;
  height: 15em;
  text-align: center;
}

.cardhum {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 19em;
  height: 11em;
  text-align: center;
}

.cardvis {
  box-shadow: 0 0 20px #ccc;
  background-color: #fafafa;
  width: 30em;
  height: 5em;
  text-align: center;
}

.side {
  display: flex;
  flex-direction: row;
}

.inputfield {
  padding: 10px;
}

.uvw {
  display: flex;
  flex-wrap: wrap;
}

.uvw > div[class*="col-"] {
  display: flex;
}
